body {
    height: 100%;
    background-color: rgba(119, 131, 143, 0.829);
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 8pt;

}

/* background for index.html */
.landing-page { 
    background-image: url("img/mainImg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e80f0;
}

/* for index.html, so you can click anywhere to get to trivia.html */
/* .full-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
} */

/* main background image for trivia.html*/
.trivia-page {
    background-image: url("https://images.unsplash.com/photo-1513492365349-8ba97c199501?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}



header {
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;

}


.button-holder {
    height: 150px;
}

.reset {
    float: left;
    border-radius: 6px;
    font-size: 15px; 
    box-shadow: 0px 4px 18px 0px;
    cursor:pointer;
    color: rgb(58, 6, 24);
}
.next-question {
    float: right;
    border-radius: 6px;
    font-size: 15px; 
    box-shadow: 0px 4px 18px 0px;
    cursor:pointer;
    color: rgb(58, 6, 24);
}

.button:hover {
    -webkit-box-shadow: 10px 5px 40px 10px rgba(222, 232, 241, 0.57);
    -moz-box-shadow: 10px 5px 40px 10px rgba(227, 231, 236, 0.57);
    transition: all 0.3s ease 0s;
}

.questions-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-spacing: 0px;
    color: white;
    height: 200px;
}
.question-text-container {
    background-color: rgba(144, 172, 214, 0.3);
    flex-grow: 1;
    text-align: center;
    padding: 25px;
    border: 2px solid rgb(85, 12, 37);
    border-radius: 10px;
    box-shadow: rgba(177, 157, 158, 0.9) 0 0 20px;
    font-size: 3.5em;
    color: rgb(116, 7, 47);
} 

.answer-status-image {
    height: 80px;
}

.counter {
    width: 250px;
    text-align: center;
    font-size: 24px;
}


.flags-container {
    display: flex;
    justify-content: space-around;
    padding: 120px;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border: 2px;
    cursor:pointer;
    height: 100px;
    width: 150px;

}

.answer-option {
    border: 5px solid transparent;
    border-radius: 5px;
}

.answer-option p{
    font-size: 2em;
    color: white;

}


.answer-option:hover {
    -webkit-box-shadow: 10px 5px 40px 10px rgba(222, 232, 241, 0.57);
    -moz-box-shadow: 10px 5px 40px 10px rgba(227, 231, 236, 0.57);
    transition: all 0.3s ease 0s;
}
/* p {
    text-align: center;
    margin: 15px;
    background-color: white;
    height: 15px;
    font-size: 20pt;
   
} */
@media only screen and (max-width: 600px) {
    .flags-container {
        font-size: 0.5em;
        padding: 0;
        display: block;
    }
    .questions-container {
        display: block;
        height: auto;
    }
    .counter {
        width: 100%;
    }
}

.capital-city {
    /* color: rgb(243, 240, 232); */
}

.answer-correct {
    border-color: #2fe22f;
}
.answer-wrong {
    border-color: #f12f2f;
}


.game-over-text {
    font-size: 3em;
    color: white;
}



